<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="appStrangerThings" ng-controller="strangerThingsController">
    <h1>Wiiiiiiill</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm-3 text-center" ng-repeat="letter in letters">
                <div class="spacer20">
                    <h2>{{letter | uppercase}}</h2>
                </div>
                <button type="button" class="btn btn-default btn-xs" ng-click="press(letter, $index)">Press</button>
            </div>
        </div>
    </div>
    <h3>{{hello}}</h3>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-socket-io/socket.js"></script>
    <script src="js/app.js"></script>
</body>
</html>